.fvrc-m-p {
  margin: 0;
  padding: 0;
}

.fvrc-block {
  display: block;
}

.fvrc-line-normal {
  line-height: normal;
}

.fvrc-checkbox-window {
  position: relative;
  height: 74px;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
}

.fvrc-checkbox-container {
  width: 28px;
  height: 28px;
}

.fvrc-checkbox {
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  border: 2px solid #c1c1c1;
  margin: 21px 0 0 12px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  transition:
    width 500ms,
    height 500ms,
    border-radius 500ms,
    margin-top 500ms,
    margin-left 500ms,
    opacity 700ms;
}

.fvrc-checkbox:hover {
  border: 2px solid #b2b2b2;
}

.fvrc-im-not-a-robot {
  position: relative;
  width: fit-content;
  left: 52px;
  bottom: 2px;
  font-size: 15px;
  color: #282727;
  font-weight: 500;
}

.fvrc-ver-logo {
  position: absolute;
  right: 37px;
  bottom: 35px;
  width: 33px;
  height: 33px;
  vertical-align: baseline;
}

.fvrc-checkbox-desc {
  color: #555555;
  position: absolute;
  font-size: 7px;
  text-align: center;
  bottom: 10px;
  right: 20px;
}

.fvrc-checkbox-desc.rVerify {
  font-size: 10px;
  width: fit-content;
  bottom: 20px;
  right: 28px;
}

.fvrc-checkbox-desc.p-t {
  right: 10px;
  font-size: 9px;
  width: fit-content;
}

.fvrc-spinner {
  visibility: hidden;
  position: absolute;
  height: 35px;
  width: 35px;
  top: 18px;
  left: 9px;
  opacity: 0;
  transition: opacity 400ms;
}

.fvrc-verifywin-window {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  margin: auto;
  width: 310px;
  background-color: #fff;
  border: 1px solid #cecece;
  -webkit-box-shadow: 5px 6px 7px -3px rgba(0, 0, 0, 0.12);
  box-shadow: 5px 6px 7px -3px rgba(0, 0, 0, 0.12);
  transition: opacity 400ms;
}

.fvrc-verifywin-window-arrow {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: opacity 200ms;
  width: 10px;
  height: 23px;
}

.fvrc-verifywin-container {
  padding: 8px;
}

.fvrc-verifywin-header {
  background-color: #5a89e1;
  padding: 16px 16px 24px 16px;
  color: #fff;
}

.fvrc-verifywin-header-text-small {
  font-size: 14px;
  line-height: normal;
}

.fvrc-verifywin-header-text-medium {
  font-size: 16px;
}

.fvrc-verifywin-header-text-big {
  font-size: 24px;
  font-weight: 700;
}

.fvrc-verifywin-main {
  padding: 5px;
}

.fvrc-verifywin-footer {
  border-top: 1px solid #cecece;
  padding: 10px 7px 10px 7px;
  color: #737373;
  display: grid;
  grid-template-columns: auto 102px;
  font-size: 13px;
}

.fvrc-verifywin-footer-left {
  padding: 5px;
}

.fvrc-verifywin-verify-button {
  text-transform: uppercase;
  background-color: #5a89e2;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 12px 0 12px 0;
  text-decoration: none;
  font-weight: 600;
  height: min-content;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.checkmark {
  width: 40px;
  height: 28px;
  position: absolute;
  top: 24px;
  left: 3px;
  background-image: url(../assets/fake-captcha/sprite-chulito.png); /* Sprite del checkmark */
  background-repeat: no-repeat;
  background-position-y: 0px; /* Inicialmente oculto */
  animation: none;
  display: none;
}

@keyframes checkAnimation {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: -630px;
  }
}

.checked.checkmark {
  display: block;
  animation: checkAnimation 0.7s steps(21) forwards;
}
